

body {

    padding: 0;

    margin: 0;

    background-image: url('./images/bg-01.jpg');

}

#login {

    display: flex;

    align-items: center;

    justify-content: center;

    height: 100vh;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.card {

    background-color: rgba(19, 19, 19, 0.3);

    padding: 40px;

    border-radius: 2px;

    width: 420px;

}

.card-header {

    padding-bottom: 0px;

    opacity: 0.8;

    color: rgb(0, 0, 0);

    font-size: 20px;

}

.card-header::after {

    content: "";

    width: 70px;

    height: 1px;

    background-color: rgb(255, 255, 255);

    display: block;

    margin-top: -17px;

    margin-left: -5px;

}

.card-content label {

    color: rgb(0, 0, 0);

    font-size: 14px;

    opacity: 0.8;

}

.card-content-area {

    display: flex;

    flex-direction: column;

    padding:10px 0;

}

.card-content-area input {

    margin-top: 10px;

    padding:0 5px;

    background-color: transparent;

    border:none;

    border-bottom: 1px solid #1d9b1d;

    outline: none;

    color: rgb(40, 107, 27);

}

.card-footer {

    display: flex;

    flex-direction: column;

}

.card-footer .submit{

    width: 100%;

    height: 40px;

    background-color: #72ad66;

    border:none;

    color:#000000;

    margin: 10px 0;

}

.card-footer a {

    text-align: center;

    font-size: 14px;
    font-style: initial;

    opacity: 0.8;

    color: rgba(54, 87, 51, 0.658);

    text-decoration: none;

}


.card-new {
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

.card-new h4 {
    font-size: 16px;
}

-------------------------------------------------------------------

.container {
    text-align: center;
    align-items: center;
}

.container2 {
    margin: 200px 600px;
    text-align: center;
    align-items: center;
    padding: 100px;

    background-color: rgb(250, 255, 250);
    background-position: center;
    background-attachment: fixed;
    background-size: 200px 200px;

    opacity: 0.8;

    display: block;
}

.container2 h2{
    margin-top: 20px;
}

.container2 label {

    text-align: center;

    align-items: center;

    margin-left: 20px;

    margin-top: 20px;

}

.container2 input.cadastrar {

    margin-top: 20px;
}